<h2>Footballers</h2>

<div>
  <label for="new-footballer">Footballer name: </label>
  <input id="new-footballer" #footballerName/>

  <!-- pass the input into add() and then clear it  -->
  <button type="button" class="add-button" (click)="add(footballerName.value); footballerName.value=''">
    Add Footballer
  </button>
</div>

<ul class="footballers">
  <li *ngFor="let footballer of footballers">
    <a routerLink="/detail/{{footballer.id}}">
      <span class="badge">{{footballer.id}}</span>
      {{footballer.name}}
    </a>
    <button type="button" class="delete" title="Delete Footballer"
            (click)="delete(footballer)">x</button>
  </li>
</ul>


